/venv
/.idea
db.sqlite3
/__pycache__/
/orders/templatetags/__pycache__/
#exclude everything
media/items/*
#exception to the rule
!/media/items/gitkeep.txt
/static/
/items/__pycache__
items/migrations/__pycache__/
/locations/__pycache__
/orders/__pycache__
/warehouse/__pycache__
/transactions/__pycache__
*.ipynb
